<!DOCTYPE html>
<html>
  <head>

    {% include head.html %}

  </head>
  <body>

    <header class="site-header">
      <div class="container">
        {% include header.html %}
      </div>
    </header>

    <section class="site-content">
      <div class="container">
        {{ content }}
      </div>
    </section>

    <footer class="site-footer">
      {% include footer.html %}
    </footer>

    <script type="text/javascript" src="{{ site.baseurl }}/js/main.min.js"></script>
  </body>
</html>
