---
layout: study
---


{% for section in page.sections %}
  <h2>{{ section.title }}</h2>
  {% for goal in section.goals %}
    <h3>목표: {{ goal.title }}</h3>
    {% if goal.skills %}
      <ul>
        {% for skill in goal.skills %}
          <li>기술: {{ skill.title }}</li>
          {% if skill.tools or skill.references %}
            <ul>
              {% for tool in skill.tools %}
                <li>
                  도구:
                  {% if tool.url %}
                    <a href="{{ tool.url }}">{{ tool.title }}</a>
                  {% else %}
                    {{ tool.title }}
                  {% endif %}
                  {% if tool.status == 'done' %}
                    <span class="text-muted status-done">✔︎</span>
                  {% elsif tool.status == 'doing' %}
                    <span class="label label-danger">진행중</span>
                  {% elsif tool.status == 'to do' %}
                    <span class="label label-primary">다음 차례</span>
                  {% elsif tool.status == 'idea' %}
                    <span class="label label-info">계획 있음</span>
                  {% endif %}
              {% endfor %}

              {% for reference in skill.references %}
                <li>
                  참조:
                  {% if reference.url %}
                    <a href="{{ reference.url }}">{{ reference.title }}</a>
                  {% else %}
                    {{ reference.title }}
                  {% endif %}
                  {% if reference.status == 'done' %}
                    <span class="text-muted status-done">✔︎</span>
                  {% elsif reference.status == 'doing' %}
                    <span class="label label-danger">진행중</span>
                  {% elsif reference.status == 'to do' %}
                    <span class="label label-primary">다음 차례</span>
                  {% elsif reference.status == 'idea' %}
                    <span class="label label-info">계획 있음</span>
                  {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endfor %}

{{ content }}
