.post-content {
  line-height: 1.75;

  // 글 본문 내 섹션 제목
  h2 {
    border-bottom: 1px solid $hr-border-color;
    margin-top:    3rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
  }

  // 글 본문 내 섹션 내 항목들의 제목
  // 1. 서로의 간격을 위해 margin-top이 있지만,
  // 2. <h2>요소 직후에 오는 경우엔 없다.
  h3      { margin-top: 2rem } // 1
  h2 + h3 { margin-top: 0 } // 2

  // 글 본문 내 문단들
  p, ul, ol,
  pre { margin-bottom: .5rem }

  // 레이블 위치 조정
  .label { vertical-align: text-bottom }
}
