body {
  font-weight: $normal;
}

blockquote {
  @extend .blockquote;
  p { margin-bottom: 0 }
}

h1 {
  font-size: 1.6rem;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.1rem;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    font-size: 1.1rem;
  }
}

ul, ol {
  padding-left: 20px;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    padding-left: 40px;
  }
}

.status-done {
  opacity: .25;
}
